# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/
packages/godum/example

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/


/target

# Byte-compiled / optimized / DLL files
__pycache__/
.pytest_cache/
*.py[cod]

# C extensions
packages/fluster_py03/**.so

# Distribution / packaging
.Python
packages/fluster_py03/.venv/
packages/fluster_py03/env/
packages/fluster_py03/bin/
packages/fluster_py03/build/
packages/fluster_py03/develop-eggs/
packages/fluster_py03/dist/
packages/fluster_py03/eggs/
packages/fluster_py03/lib/
packages/fluster_py03/lib64/
packages/fluster_py03/parts/
packages/fluster_py03/sdist/
packages/fluster_py03/var/
packages/fluster_py03/include/
packages/fluster_py03/man/
packages/fluster_py03/venv/
packages/fluster_py03/*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
pip-selfcheck.json

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

.DS_Store

# Sphinx documentation
docs/_build/

# PyCharm
.idea/

# VSCode
.vscode/

# Pyenv
.python-version


# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release




/packages/dum_native/*.class
/packages/dum_native/*.log
/packages/dum_native/*.pyc
/packages/dum_native/*.swp
/packages/dum_native/.DS_Store
/packages/dum_native/.atom/
/packages/dum_native/.build/
/packages/dum_native/.buildlog/
/packages/dum_native/.history
/packages/dum_native/.svn/
/packages/dum_native/.swiftpm/
/packages/dum_native/migrate_working_dir/
/packages/dum_native/*.iml
/packages/dum_native/*.ipr
/packages/dum_native/*.iws
/packages/dum_native/.idea/
/packages/dum_native/pubspec.lock
/packages/dum_native/**/doc/api/
/packages/dum_native/.dart_tool/
/packages/dum_native/.flutter-plugins
/packages/dum_native/.flutter-plugins-dependencies
/packages/dum_native/build/
/target
**/node_modules
codecov.*
docs/internal
packages/fluster_embedded_typescript/examples/**
packages/fluster_embedded_typescript/documents/**
packages/fluster_embedded_typescript/apps/**
packages/fluster_embedded_typescript/packages/**
**/.wireit/
history.txt

.wireit/
.env**
