.mdx-content {

  p,
  table {
    code {
      padding-top: 0.15rem;
      padding-bottom: 0.15rem;
      border: 1px solid hsl(var(--border));
    }
  }

  section[data-footnotes] {
    h2 {
      display: block;
      width: 100%;
      height: fit-content;
      color: hsl(var(--foreground));
      background-color: hsl(var(--background));
      font-size: 1.2rem;
      font-weight: 600;
      position: initial;
    }
  }
}
