@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --radius: 0.5rem;
  --brand: 198.6 88.7% 48.4%;
  --background: 222.2 84% 4.9%;
  --foreground: 210 40% 98%;
  --card: 222.2 84% 4.9%;
  --card-foreground: 210 40% 98%;
  --popover: 222.2 84% 4.9%;
  --primary: 217.2 91.2% 59.8%;
  --primary-rgb: #0ba5e9;
  --primary-h: 198.6;
  --primary-s: 88.7%;
  --primary-l: 48.4%;
  --primary-foreground: 210 40% 98%;
  --secondary: 217.2 32.6% 17.5%;
  --secondary-foreground: 210 40% 98%;
  --muted: 217.2 32.6% 17.5%;
  --muted-foreground: 215 20.2% 65.1%;
  --accent: 217.2 32.6% 17.5%;
  --accent-foreground: 210 40% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 210 40% 98%;
  --border: 217.2 32.6% 17.5%;
  --input: 217.2 32.6% 17.5%;
  --ring: 224.3 76.3% 48%;
  --general-link-color: #1e90ff;
  // Fluster specfic color variables. This is not the whole set, but just what's required for the website.
  --fluster-hint: 120.0 100.0% 50.0%;
}


body {
  background: hsl(var(--background));
  color: hsl(var(--foreground));
  overflow-x: hidden;
  * {
    border-color: hsl(var(--border));
  }
}
