@media (width <=768px) {
  :root {
    --fd-nav-height: 34px;
  }
}

button[data-theme-toggle] {
  display: none !important;
}

table {

  td,
  th {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
}
